<div class="schedule__row">
    <div class="schedule__col schedule__col--blue schedule__col--wide">{{title}}</div>
    <div class="schedule__col schedule__col--medium">{{school}}</div>
    <div class="schedule__col schedule__col--blue">{{teacher}}</div>
    <div class="schedule__col">{{classroom}}</div>
    <div class="schedule__col">{{date}}</div>
</div>